# --- Секреты и переменные окружения (САМОЕ ВАЖНОЕ) ---
.env
.env.*
frontend/.env

# --- Python ---
__pycache__/
*.pyc
.venv/
venv/
env/

# --- Node.js ---
node_modules/
dist/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# --- Docker ---
# Папка с данными базы данных, создаваемая Docker
postgres_data/

# --- Системный мусор (macOS, Windows, Linux) ---
.DS_Store
Thumbs.db
*.tmp
*.swp

# --- Настройки IDE/Редакторов ---
.idea/
.vscode/
chat_histories/
